src/schemas/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">

    <xs:complexType name="BaseName">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Key" type="xs:integer" />
        <xs:attribute name="Active" type="xs:boolean" />
    </xs:complexType>

</xs:schema>

<!-- 


 -->