src/schemas/computer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xsd:element name="ComputerDivision">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InternetSection" />
                <xsd:element name="NodeSection" />
                <xsd:element name="WebSection" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

<!-- 


 -->